<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Kółko i krzyżyk</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap&subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div id="app">
    <h1>{{title}}</h1>
    <div class="board">
      <div v-for="(row, rowIdx) in board" :key="rowIdx">
        <div v-for="(cell, cellIdx) in row" :key="cellIdx" class="square" @click="mark(rowIdx, cellIdx)">
          {{cell}}
        </div>
      </div>
    </div>
    <div class="rightside">
      <p v-if="!winner">Teraz Kolej: {{currentPlayer}}</p>
      <p v-else>Wygrywa: {{winner}}</p>
      <div class="tableScore">
        <span>Tablica Wyników</span>
        <table>
          <tr>
            <th>X</th>
            <th>O</th>
          </tr>
          <tr>
            <td>{{score.X}}</td>
            <td>{{score.O}}</td>
          </tr>
        </table>
      </div>
      <button @click="newGame">Nowa Gra</button>
    </div>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="main.js"></script>
</body>

</html>